*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 24px 12px;
    width: 100%;
    
}
.header-item{
    font-size: 18px;
    font-family: 'Kite One', sans-serif;
    color:black;
    text-decoration: none;
    
}
#about-wrap{
    display:none;
    width: 100%;
}
.title-text{
    font-size:55px;
    text-align: center;
    font-family: 'Prata', serif;
}
/*.about-text{
    margin-bottom: 50px;
}*/
.about-text p{
    text-align: center;
    
}
#Own-photo{
    width: 600px;
    height: 600px;
    border-radius: 50%;
}
.self-image{
    display: flex;
    margin: 25px 50px;
}
.self-introduction{
    text-align: center;
    margin: 0 50px 50px 50px;
    border-bottom: solid;
    border-bottom-color: #ffff00;
}
.about-title{
    border-bottom: solid;
    border-bottom-color: #ffff00;
    font-family: 'Prata', serif;
    font-size: 30px;
}
.about-p{
    margin: 50px;
    color: gray;
    font-size: 16px;
}
#Portfolio-wrap{
    display:none;
    width: 100%;
}
.Portfolios{
    margin: 25px 50px;
}
/*タブレット用CSS*/
@media (max-width: 1000px){
    .header-item{
        font-size: 25px;
    }
    .title-text{
        font-size: 50px;
    }
    .about-title{
        font-size: 13px;
    }
    #Own-photo{
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }
    .about-p{
        font-size: 5px;
        margin: 35px;
    }
    
}
/*スマホ用CSS670px*/
@media (max-width: 670px){
    .header-item{
        font-size: 20px;
    }
    .title-text{
        font-size: 45px;
    }
    .about-title{
        font-size: 15px;
    }
    .self-image{
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }
    .photo-space{
        width: 100%;
        text-align: center;
    }
    #Own-photo{
        border-radius: 50%;
        max-width: 100%;
        height: auto;
    }
    .self-introduction{
        width: 100%;
        margin-top: 50px;
    }
    .about-p{
        font-size: 10px;
    }
}